/* * * * * * * * * * * * * *
	COLORS
* * * * * * * * * * * * * */

$textColorBase: #666;
$linkColor: #CCC;
$linkColorHover: #999;
$borderColor: #999;
$separatorColor: #FFF;
$backgroundColor: #EEE;
$menuBackgroundColor: #666;
